/* DEBUG:  */
[class*="col-"] {
  min-height: 50px;
  border: 1px solid black;
}

 /*fine DEBUG:  */

#nav_background {
  background-color: white;
}

#jumbotrone {
  background-color: #004AFF;
}

#partners {
  background-color: #F3F5F9;
}

.scroll {
  background-color: #F3F5F9;
}

#spot3 {
  background-color: #0043C1;
}

#get-started {
  background-color: #0043C1;
}

footer {
  background-color: #031C4E;
}
